main {
	max-width: 900px;
	margin: 0 auto;
}

p {
	font-size: 20px;
}

h1, .author, .corporation {
	text-align: center;
}

.author {
	font-size: 23px;
	font-style: italic;
}

.corporation {
	font-weight: bold;
	font-size: 21px;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
	text-align: center;
}

.underline {
	text-decoration: underline;
}

.italic_bold {
	font-weight: bold;
	font-style: italic;
}

#orange {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

#rat {
	display: block;
	margin: 0 auto;
}

ul {
	margin-top: 40px;
}

ul li {
	font-size: 20px;
	margin-bottom: 10px;
}

ol {
	margin-top: 40px;
}

ol li {
	font-size: 20px;
	margin-bottom: 10px;
}